# =========================
# PYTHON (bytecode)
# =========================
__pycache__/
*.pyc

# =========================
# LOGS 
# =========================
logs/
*.log

# =========================
# PYTEST
# =========================
.pytest_cache/